img {
  opacity: 0.5;
  margin-top: 55px;

   max-width: 900px;
   max-height: : 800px;
}

h1 {
color: rgb(0,255,0);
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
div{

  position: absolute;
top: 1300px;
}
a {color: rgb(0,255,0);}
